<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="standard-form">
    <div *ngIf="1 == 2 else basicFormTemplate">
      Not basic form.
    </div>

    <button type="submit" mat-raised-button color="primary" class="submit">Submit</button>
  </form>

  <ng-template #basicFormTemplate>
    <ng-container *ngFor="let question of questions">
      <app-dynamic-form-question [question]="question" [form]="form"></app-dynamic-form-question>
    </ng-container>
  </ng-template>
</mat-card>