<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="standard-form">
    <div *ngIf="!formModel.isBasicForm else basicFormTemplate">
      <div *ngFor="formGroupName in allFormGroupNames">
        <ng-container *ngTemplateOutlet="basicFormBlockTemplate; context: formModel[formGroupName].questions"></ng-container>
      </div>
    </div>

    <button type="submit" mat-raised-button color="primary" class="submit">Submit</button>
  </form>

  <!-- Building blocks for Basic Form -->
  <ng-template #basicFormTemplate>
    <ng-container *ngFor="let question of formModel.questions">
      <app-dynamic-form-question [question]="question" [form]="form"></app-dynamic-form-question>
    </ng-container>
  </ng-template>

  <!-- Building blocks for Advanced Form -->
  <ng-template #basicFormBlockTemplate let-questions="questions">
    <ng-container *ngFor="let question of questions">
      <app-dynamic-form-question [question]="question" [form]="form"></app-dynamic-form-question>
    </ng-container>
  </ng-template>
</mat-card>