<div [formGroup]="group" #formRef="ngForm">
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Date of birth" [formControlName]="tempDateCtrlName" [errorStateMatcher]="errorMatcher">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error>
      <app-validation-error [group]="group" [controlName]="tempDateCtrlName"></app-validation-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Date of Birth Time" [formControlName]="tempTimeCtrlName" [errorStateMatcher]="errorMatcher">
      <mat-error>
        <app-validation-error [group]="group" [controlName]="tempTimeCtrlName"></app-validation-error>
      </mat-error>
    </mat-form-field>
</div>
