<mat-card>
  <form [formGroup]="basicForm" class="standard-form">
    <h2>Basic Form</h2>

    <mat-form-field>
      <input matInput placeholder="First name" formControlName="firstName" required>
      <mat-error>
        <app-validation-error [group]="basicForm" controlName="firstName"></app-validation-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Surname" formControlName="surnameName" required>
      <mat-error>
        <app-validation-error [group]="basicForm" controlName="surnameName"></app-validation-error>
      </mat-error>
    </mat-form-field>
    
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Date of birth" formControlName="dateOfBirth">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>
        <app-validation-error [group]="basicForm" controlName="dateOfBirth"></app-validation-error>
      </mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" class="submit">Submit</button>
  </form>
</mat-card>