<mat-card>
  <form [formGroup]="basicForm" (ngSubmit)="onSubmit()" class="standard-form">
    <h2>Basic Form</h2>

    <mat-form-field>
      <input matInput placeholder="First name" formControlName="firstName">
      <mat-error>
        <app-validation-error [group]="basicForm" controlName="firstName"></app-validation-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Surname" formControlName="surnameName">
      <mat-error>
        <app-validation-error [group]="basicForm" controlName="surnameName"></app-validation-error>
      </mat-error>
    </mat-form-field>
    
    <app-date-time-form-control [group]="basicForm" controlName="dateOfBirth" [options]="{ includeTime: false }"></app-date-time-form-control>

    <mat-form-field>
      <mat-select formControlName="titleId" name="title" placeholder="Title">
        <mat-option *ngFor="let title of titleRefData" [value]="title.id">
          {{ title.name }}
        </mat-option>
      </mat-select>
      <mat-error>
        <app-validation-error [group]="basicForm" controlName="titleId"></app-validation-error>
      </mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" class="submit">Submit</button>
  </form>
</mat-card>