<ul>
  <ng-container *ngFor="let errorKey of formArrayErrors | errorKey">
    <li> 
      {{ errorKey | formErrorMessage: rootGroup.getError(errorKey) }}
    </li>
  </ng-container>
  <ng-container *ngFor="let errorKey of formErrors | errorKey">
    <li> 
      {{ errorKey | formErrorMessage: group.getError(errorKey) }}
    </li>
  </ng-container>
  <ng-container *ngFor="let errorKey of controlErrors | errorKey">
    <li>
      {{ errorKey | formErrorMessage: control.getError(errorKey) }}
    </li>
  </ng-container>
</ul>